// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//discord palette guide
$one : #7289da;
$two : #424549;
$three : #36393e;
$four : #282b30;
$five : #1e2124;

body {
 background-color: $three;
 color: rgb(206, 202, 202);
}

nav{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.5em;
    background-color: $four;
    text-align: center;
}



#home-body{
    display: grid;
    grid-template-columns: 1fr 3fr;

    @import 'sidebar';
    @import 'feed';
}

@import 'profilebar';

