// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//discord palette guide
$one : #7289da;
$two : #424549;
$three : #36393e;
$four : #282b30;
$five : #1e2124;

body {
 background-color: $three;
 color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 2em;
    background-color: $four;
}

//sidebar
@import 'sidebar';

#home-body{
    display: grid;
    grid-template-columns: 1fr 3fr;

    .userCard{
        margin: 5px;
        img{
            margin-right: 5px;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            object-fit: cover;
        }
    }

    #posts-container{
        display: flex;
        flex-flow: column;
        overflow-y: auto;
        
        .postCard{
            
            // max-width: 750px;
            width: 500px;
            // min-width: 150px;
            margin: auto;
            .card-header{
                img{
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
            img{
                max-height: 500px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

