.profilebar {
	background-color: $one;

	padding-left: 40px;
	img{
		margin: 10px;
		
		height: 200px;
		width: 200px;
		border-radius: 100%;
		object-fit: cover;
	}
	.username{
		font-size: 25px;
	}

	
	.profilestatus{
		
		margin-left: 75px;
		font-size: 20px;
	}
}